<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcheck"
    >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    a
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCheck">
        <activity
            android:name=".ListViewSavedPersonsActivity"
            android:exported="false" />
        <activity
            android:name=".WebsiteCheckupActivity"
            android:exported="false" />
        <activity
            android:name=".CheckUpActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewCheckUpActivity"
            android:exported="false" />
        <activity
            android:name=".ChoiceNextActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.NameActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.MyHygieneOfLifeActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.MyStressManagementActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.MyTobaccoConsumptionActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.MyPhysicalActivityActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.MyDietActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.MyCardiacMonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.MyHeartActivity"
            android:exported="false" />
        <activity
            android:name=".formActivities.IAmActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>